#chat-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    overflow:hidden;
   

}
#chat-submit-container {
position: relative;
text-align: center;

}
#message-input {
    width: 38.5rem;
    
    font-size: 1.5rem;
}




.team-container {
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    height: 60vh;
    width: 25rem;
    background-color: #365a3b86; 
   
    overflow: scroll;
   
 
    
}

.clear-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
}