#username-container {
    
 
  
    margin: 0 auto;
    text-align:center;
    align-items: center;
}


#team-dropdown {
    
    font-size: 1.5rem;
    background-color: #365a3b; 
    color: #fff;
    border: 1px solid #150b0b; 
    border-radius: 0.5rem;
    padding: 1rem;

}


#team-dropdown option {
    background-color: #f2d4c5; 
    color: #333; 
       font-size: 1.5rem;
}


button:hover, input[type="submit"]:hover {
    background-color: #890f0f; 
   
}

label {
    font-size: 1.5em;
    font-weight: bold;
    display: block;

    color: #ff5b5b;
}
input, button, input[type="submit"] {
    font-size: 1.5rem;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px ridge black;
    border-radius: 4px;
    box-sizing: border-box;
    
}